body{
	margin:0;
}	

h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
	padding-top:5%;
}

h1:after, 
h1:before {
    background-color: #666;
    content: "";
    height: 1px;
    position: absolute;
    top: 80%;
    width: 200px;
	
	
}

h1:after {      
    right: 0;
}

h1:before {
    background-image: linear-gradient(right, #777, #fff);
    left: 0;
	
}

form{
	font-family:inherit;
	font-size:100%;
	font: normal 13px/1 Verdana, Helvetica;
	margin:0;
	width: 100%;
	color: #666;
	margin: 0 0 30px 0;
    letter-spacing: 2px;
	display:inline;
	padding-top:10px;
	}


img{
	padding-top:0;
	width:425px;
	height:auto;
}

label{
	height:auto;
	display:inline;
	width:160px;
	padding-bottom:4px;
	max-width:160px;
	min-width:100px;
}

input{
	display:inline;
	width:160px;
	padding-bottom:4px;
		max-width:160px;
	min-width:100px;
}

button {
	display:inline;
	width:110px;
	
}


.container{
	padding-top:40px;
	
}

.bouton{	
	margin-top:10px;
	margin-left:168px;
	margin-right:100px;
	
	
}
.question{
	position:absolute;
	top:32px;
	left:47%;
	transform: translate(-50%,-50%);
	display:inline;
	margin:3px;
	width : 800px;
	
	margin-left:100px;
	margin-right:100px;
}	

.question #block{
	margin-top:10px;	
	border:1px solid;
	padding-top:10px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	
	
}

#block{	
	padding-left:15px;
}

#qt {
	position:relative;
}
.affichage{
	margin-left:100px;
	margin-right:100px;
	display:inline;
	
}
.numQuestion{
	color:red;
}
	

.tester{
	position:relative;
	margin-top:160px;
	margin-left:100px;
	margin-right:100px;
}

.footer{
	position:relative;
	padding:250px;
	margin-left:60px;
	margin-right:60px;
	
}
#bas{
	display:inline;
}


.button  {
	display:inline;

}
.nomTest{

	display:inline;
	margin-left:5px;
	margin-right:5px;
	
}
.prof {

	display:inline;
	margin-left:5px;
	margin-right:5px;
}
.nbgroupe{
	display:inline;
	margin-left:5px;	
	margin-right:5px;
}




[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 4.5em;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left: 0; top: -.1em;
  width: 4em; height: 1.85em;
  background: #DDDDDD;
  border-radius: 1em;
  transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 1.4em; height: 1.4em;
  transition: all .2s;
  border-radius: 50%;
  background: #7F8C9A;
  top: .12em; left: .24em;
}
.text {
  display: inline-block;
  vertical-align: middle;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background:#34495E; 
}
[type="checkbox"]:checked + label:after {
  background: #39D2B4;
  left: 2.4em;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: .6em;
  width: 6em;
  border-radius: 1em;
  font-size: .875em;
  font-weight: bold;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label .ui:before {
  content: "no";
  left: 2.35em;
  top: .2em;
}
[type="checkbox"]:checked + label .ui:after {
  content: "yes";
  top: .2em;
  left: .2em;
  color: #39D2B4;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  box-sizing: border-box;
  margin-top: -1px;
}
