.bouton a {
  display: block;
  width:150px;
  line-height:50px;
  text-align:center;
  vertical-align:middle;
  background:red;
  color:white;
  text-decoration:none;
  }

}

.bouton a:hover {
  font-style: italic;
  
}
